@-moz-document url(about:home), url(about:newtab), url(about:privatebrowsing) {
  .click-target-container *,
  .top-sites-list * {
    color: #fff !important ;
    text-shadow: 2px 2px 2px #222 !important ;
  }

  body::before {
    border-top: 1px solid rgb(255, 255, 255);
    content: "";
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #212337;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    filter: blur(1px);
  }

  .logo {
    display: none !important;
  }

  .wordmark,
  .logo-and-wordmark {
    margin: 0 !important;
  }

  .search-wrapper {
    padding: 5 !important;
  }

  .search-handoff-button {
    background-color: white !important;
  }

  .fake-textbox {
    color: black !important;
  }
}
